<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons style="color: transparent" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Novo Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form *ngIf="form" [formGroup]="form">
    <div class="form">
      <ion-item class="input-field">
        <ion-icon name="barcode-outline"></ion-icon>&nbsp;&nbsp;
        <ion-input formControlName="codBarras" type="number"></ion-input>
      </ion-item>

      <ion-item class="input-field">
        <ion-select placeholder="Tipo de Roupa" okText="Confirmar" cancelText="Voltar" formControlName="categoria" 
          [interfaceOptions]="{header: 'Selecione o tipo', translucent: true}">
            <ion-select-option [value]="'camiseta'">Camiseta</ion-select-option>
            <ion-select-option [value]="'vestido'">Vestido</ion-select-option>
            <ion-select-option [value]="'calça'">Calça</ion-select-option>
        </ion-select>
      </ion-item>
  
      <ion-item class="input-field">
        <ion-input formControlName="nome" placeholder="Nome do Produto"></ion-input>
      </ion-item>
  
      <ion-item class="input-field">
        <ion-textarea formControlName="info" placeholder="Informações do Produto"></ion-textarea>
      </ion-item>

      <app-image-picker (imagePick)="onFilePicked($event)" [showPreview]="true" [selectedImage]="form?.value['foto']" class="formLayout"></app-image-picker>
      
      <button [disabled]="!form?.valid" (click)="save()" class="btn primary">Salvar</button>
    </div>
  </form>
</ion-content>
