<ion-header>
  <ion-toolbar>
    <ion-buttons (click)="back()" slot="start">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="color: transparent;" name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Nova Saída</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="!cameraOpen">
    <button (click)="presentModal()" class="btn-open primary">Selecionar Produto</button>

    <div class="list">
      <ng-container *ngIf="produtos.length > 0; else noData">
        <div *ngFor="let p of produtos" class="list-item">{{p.codBarras}} - {{p.nome}}</div>
      </ng-container>

      <ng-template #noData>
        <div class="list-item">Nenhum produto selecionado ainda</div>
      </ng-template>
    </div>

    <button [disabled]="produtos.length === 0" (click)="save()" class="btn-save primary">Salvar</button>
  </div>
</ion-content>
