<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon style="color: transparent !important" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon style="color: transparent !important" name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Registros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="row">
    <div class="col" routerLink="/configs/produtos">
      <ion-icon name="pricetags-outline"></ion-icon>
    </div>
    <div class="col">
      <ion-icon name="people-outline"></ion-icon>
    </div>
  </div>
</ion-content>
