<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon style="color: transparent" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons routerLink="camera" slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="form">
    <ion-item class="input-field">
      <ion-icon name="search-outline"></ion-icon>&nbsp;&nbsp;
      <ion-input placeholder="Insira o nome ou o código de barras" [(ngModel)]="listFilter"></ion-input>
    </ion-item>
  </div>

  <ng-container *ngIf="produtos$ | async; let produtos; else noData">
    <ng-container *ngIf="produtos.length > 0; else noData">
      <div *ngFor="let p of produtos | filter:listFilter; trackBy: trackById" class="card-data">
        <div class="col" style="width: 25% !important;">
          <img *ngIf="!p.foto" src="../../../assets/no-image.jpg" alt="">
          <img *ngIf="p.foto" [src]="p.foto" alt="">
        </div>
        <div class="col" style="flex-direction: column; align-items: flex-start; height: 100%;">
          <div class="lead">{{p.categoria | uppercase}}</div>
          <div class="body">{{p.nome}}</div>
          <div class="info">{{p.codBarras}} - {{p.info}}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <ng-template #noData>
    <div class="no-data-container">
      <p>Nenhum Produto Encontrado</p>
    </div>
  </ng-template>
</ion-content>