.card-data{
    background-color: #ccc;
    height: 12vh;
    margin: 10px 16px; 
    border-radius: 2vh;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vh;
    text-align: center;
    gap: 2vh;
    font-size: 1.7vh;

    color: var(--ion-color-primary);
    box-shadow:
        0px 0px 0.4px rgba(0, 0, 0, 0.02),
        0px 0px 0.6px rgba(0, 0, 0, 0.028),
        0px 0px 0.6px rgba(0, 0, 0, 0.035),
        0px 0px 1px rgba(0, 0, 0, 0.042),
        0px 0px 3px rgba(0, 0, 0, 0.05),
        0px 0px 25px rgba(0, 0, 0, 0.07);
}

.col{
    width: 100%;
    font-size: 1.5vh;
    flex-shrink: 3;
    font-weight: 600;
    align-items: center;
    display: flex;
    align-content: center;
    justify-content: center; 
    flex-direction: column;
    gap: 5%;

    img{
        object-fit: cover;
        border-radius: 50%;
        height: 80%;
        width: 80%;
        outline-offset: 4px;
        outline: 2px solid var(--ion-color-primary);
    }

    .lead{
        font-size: 1.3vh;
        font-weight: 600;
        color: rgb(105, 105, 105)
    }

    .info{
        font-size: 1.3vh;
        font-weight: 500;
        color: rgb(105, 105, 105)
    }

    .body{
        font-size: 1.8vh;
        font-weight: 600;
    }
}

.form{
    width: 100vw;
    padding: 0 20px 10px 20px; 

    .input-field{
        height: auto;
        width: 100%;
        --background: #ccc;
        --color: rgb(27, 27, 27);
        --border-radius: 20px;
        --border-width: 1px;
        --highlight-height: 0;
    }

    .item-has-focus{
        outline: none !important;
        border: none !important;
        caret-color: transparent !important;
    }
}