<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-icon style="color: transparent !important" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="add-outline"></ion-icon>
    </ion-buttons>
    <ion-title>Movimentação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-data" style="border-color: #2dd36f">
    <div class="col" style="flex-direction: column; align-items: flex-start; height: 100%;">
      <div class="lead">ENTRADA DE PRODUTOS</div>
      <div class="body">Camiseta Azul Nike</div>
      <div class="info">123456789</div>
    </div>
  </div>
  <div class="card-data" style="border-color: #eb445a">
    <div class="col" style="flex-direction: column; align-items: flex-start; height: 100%;">
      <div class="body">
        SAÍDA DE 2 PRODUTOS
      </div>
      <div class="info">
        <span>123456 - Camiseta Azul Nike<br></span>
        <span>123456 - Camiseta Azul Nike<br></span>
      </div>
    </div>
  </div>
</ion-content>